{% extends 'base.html.twig' %}

{% block body_class %} page-home{% endblock %}

{% block body %}
    <!-- HERO SECTION -->
    <section class="hero">
        <div class="hero-content">
            <h1 class="display-3 fw-bold mb-4">Bienvenue sur le Comptoire des invités</h1>
            <p class="lead mb-5">Calculez les quantités parfaites pour vos événements en quelques clics</p>
            <a href="{{ path('app_calcul') }}" class="btn-hero">
    <i class="bi bi-calculator-fill"></i> Commencer le calcul
    <i class="bi bi-arrow-right ms-2"></i>
</a>
        </div>
    </section>
{% endblock %}
